.hero-about {
    position: relative;
    display: flex;
    align-items: center;
    color: white;
}

.hero-about img {
    width: 100%;
    height: auto;
    display: block;
}

.hero-about-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00225B;
    opacity: 0.3;
}

.hero-about-content {
    position: absolute;
    margin-left: 180px;
}

.hero-about-content h1 {
    font-family: var(--font-secondary);
    font-size: 64px;
    font-weight: 600;
    margin: 0;
}

.hero-about-content p {
    font-family: var(--font-secondary);
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    margin: 50px 0px;
}    

.company-info {
    padding: 80px 120px;
}

.info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    align-items: flex-start ;
}

.info-text h2, .certs-text h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 30px;
    color: #00225B;
    font-family: var(--font-secondary);
}

.info-text p, .certs-text p, .certs-text ul {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #6C6C6C;
}

.certs-text-container {
    display: flex;
}

.certs {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
