html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1;
}

.contact-container {                 
    margin: 30px 100px 150px;
    background-color: #fff;
    padding: 40px;
    border-left: 6px solid #9EA629;
}

.contact-container p {
    font-size: 24px;
    color: #333;
    line-height: 1.6;
    margin-bottom: 16px;
}

.contact-container p b {
    font-size: 30px;
    text-transform: uppercase;
    color: black;
}

@keyframes equipmentCategoryIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
 
  .contact {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  
  .contact.in-view {
    animation: equipmentCategoryIn 1s ease-out forwards;
}

@media (max-width: 991px) {
    .contact-container {
      margin: 30px 50px 100px;
    }

    .contact-container p {
        font-size: 20px;
        line-height: 28px;
    }
    
    .contact-container p b {
        font-size: 26px;
    }
  }
  
  @media (max-width: 575px) {
    .contact-container {
      margin: 20px 30px 50px;
    }

    .contact-container p {
      font-size: 16px;
      line-height: 20px;
    }

    .contact-container p b {
      font-size: 18px;
    }
  }
  