.gallery {
    background-color: white;
    padding-bottom: 130px;
}

.gallery-sub-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0px 140px;
}

.gallery-item img {
    width: 100%;
}
