.navbar-subpages {
    background-color: #9EA629;
    color: white;
    padding: 1px 0;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.nav-links-cont {
    height: 100%;
    width: 100%;
}

.nav-links-cont::before {
    content: "";
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    width: 91%;
    height: 1px;
    background-color: white;
    opacity: 0.5;
    transition: background-color 0.3s ease;
}

.nav-links {
    margin-top: 60px;
    margin-bottom: 30px;
}

@media (max-width: 1160px) {
    .nav-links-cont {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        background: #9EA629;
        padding-top: 50px;
        z-index: 2;
    }

    .nav-links-cont.show {
        display: block;
        animation: fadeIn 0.3s ease-in-out;
    }

    .nav-links-cont::before{
        display: none;
    }

    .menu-btn-container {
        top: 15px;
    }
}

@media (max-width: 767px) {
    .menu-btn-container {
        top: 0px;
    }
}