.offer-text {
    margin-left: 180px;
}

.offer-text-container p {
    font-size: 16px;
    font-weight: 500;
    color: #6C6C6C;
    line-height: 24px;
    margin: 70px 0px;
}

.services-vertical {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-left: 400px;
    padding: 50px 0;
}

.services-container {
    align-items: center;
    gap: 150px;
    justify-content: flex-start;
}

.service-box h3 {
    font-size: 40px;
    line-height: 60px;
}

.service-box p {
    margin: 40px 0;
}

.service-box ul {
    list-style-type: circle;
    padding-left: 20px;
    font-size: 17px;
    font-weight: 400;
    color: #666666;
    line-height: 1.6;
}

.crew-base {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 350px;
    padding-bottom: 200px;
}

.crew-text h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 80px;
}

.crew-text p, ul {
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    color: #6C6C6C;
}

.crew-text ul {
    list-style-type: circle;
    padding-left: 20px;
}

.crew-stats {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 45%;
    margin-top: 220px;
}

.crew-stats img {
    width: 100%;
    max-width: 350px;
    height: auto;
}

