.projects {
    padding-bottom: 60px;
}

.project-year {
    margin-bottom: 40px;
}

.all-projects {
  padding: 0 100px;
}

.project-year h2 {
    font-size: 24px;
    font-weight: 600;
    color: black;
    margin-bottom: 15px;
}

.project-year ul {
    list-style-type: circle;
    padding-left: 20px;
}

.project-year ul li {
    font-size: 16px;
    font-weight: 400;
    color: #6C6C6C;
    padding: 8px 0;
}

@keyframes equipmentCategoryIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.projects {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.projects.in-view {
  animation: equipmentCategoryIn 1s ease-out forwards;
}

@media (max-width: 1730px) {
  .all-projects {
    padding: 0 180px;
  }
}

@media (max-width: 1310px) {
  .all-projects {
    padding: 0 100px;
  }
}

@media (max-width: 1160px) {
  .all-projects {
    padding: 0 80px;
  }
}

@media (max-width: 1060px) {
  .all-projects {
    padding: 0 60px;
  }

  .project-year h2 {
    font-size: 20px;
  }

  .project-year h3 {
    font-size: 18px;
  }

  .project-year ul li {
    font-size: 14px;
  }
}

@media (max-width: 991px) {
  .all-projects {
    padding: 0 50px;
  }

  .project-year h2 {
    font-size: 18px;
  }

  .project-year h3 {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .all-projects {
    padding: 0 40px;
  }

  .project-year h3 {
    font-size: 14px;
  }

  .project-year ul li {
    font-size: 12px;
    padding: 4px 0;
  }
}

@media (max-width: 575px) {
  .all-projects {
    padding: 0 30px;
  }

  .project-year h2 {
    font-size: 16px;
  }

  .project-year ul li {
    line-height: 18px;
  }
}
  